.box2ss{
    /* height: 50rem; */
    background-color: rgb(217, 217, 217);
    padding-bottom: 3rem;
    padding-top: 8rem;
  }
  .h31ss{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4rem;
    font-size: 2rem;
    color:rgb(36, 11, 100);
  }
  .boxesss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .bss{
    width: 18rem;
    height: 37rem;
    background-color: white;
    border-radius: 3rem;
    margin: 3rem 1.5rem 0 1.5rem;
    box-shadow: 0 0 1rem rgb(176, 176, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .bss img{
    width: 13rem;
  }
  .bss text{
    margin-top: 0.2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .bss text2{
    margin-top: 0.8rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .bss text2 img{
    width: 1.04rem;
    margin-bottom: 0.25rem;
  }
  .bss ul li{
    color: rgb(104, 104, 104);
    margin-top: 0.4rem;
    white-space: nowrap;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .bss ul{
    margin-top: 0.7rem;
  }
  
  .bss price{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15rem;
    margin: 0.9rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(32, 4, 195);
    align-items: center;
    white-space: nowrap;
  }
  
  .bss price button,.rbottomss button{
    background-color: rgb(32, 4, 195);
    border: none;
    border-radius: 0.7rem;
    width: 6rem;
    height: 2.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .bss price button:hover, .rbottomss button:hover{
    background-color: rgb(74, 46, 229);
  
  }
  .offerss{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-top: 0.9rem;
  }
  text3,text4{
    white-space: nowrap;
  }
  .box3ss{
  
    background-color: rgb(217, 217, 217);
    padding-bottom: 3rem;
    padding-top: 6rem;
  }
  .reviewsss{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
  }
  
  .rbss{
    width: 42rem;
    height: 20rem;
    background-color: white;
    margin-bottom: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(176, 176, 176);
    display: flex;
    align-items: center;
  }  .rleftss{
    display: flex;
    flex-direction: column;
    border-right: solid rgb(198, 198, 198) 0.15rem;
    width: 15rem;
    height: 85%;
  }
  .pross{
    margin: 1rem 2.5rem;
    width: 10rem;
  }
  
  
  .ratingss{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.7rem 1.7rem;
  }  .starss{
    width: 2rem;
    height: 2rem;
  }
   
  .rrightss{
    display: flex;
    flex-direction: column;
    width: 40rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 125%;
    padding: 4rem 2.5rem;
  }
  .rnamess{
    padding-top: 1rem;
    font-size: 1.5rem;   
  }
  .postss{
    padding-top: 0.5rem;
    color: rgb(82, 82, 82);
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 2rem;
  }
  
  .rbottomss{
    justify-content: space-between;
    width: 21rem;
    padding: 1.4rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .rbottomss button{
    width: 6.5rem;
    height: 3rem;
  }
  .rbottomss img{
    width: 1rem;
    height: 1rem;
  }
  .parass{
    font-weight: 500;
    line-height: 1.5rem;
  }
  
  
  main h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(36, 11, 100);
    padding-bottom: 0;
    height: 4.3rem;
    font-weight: 700;
  }
  
 

 
  



  
  .ratess{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
 
 
  .datess{
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(82, 82, 82);
  }
 